<div class="row">
  <div class="col-md-3">
    <div class="center">
      <%= image_tag avatar_url(@user), class: 'avatar-full' %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Verification
      </div>
      <div class="panel-body">
        <p>
          Email Address
        </p>
        <p>
          Phone Number
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h2>
      <%= @user.fullname %>
      <div class="description row-space-3">
        <%= @user.description %>
      </div>
    </h2>
  </div>
</div>